{% extends 'base.html.twig' %}
{% block encoding %}<meta charset="UTF-8">{% endblock %}
{% block title %}Nos Équipements - {% endblock %}
{% block body %}
	<link href="{{ asset('css/popup.css') }}" type="text/css" rel="stylesheet">	
	<div class="container">
    	<h1>Page Equipement</h1>
      	<br>
    </div>
    <div class="row">
  		<div class="col-md-12">
        	<table id="equipments" class="table" data-toggle="table" data-search="true" data-pagination="true">
                <thead>
        			<tr>
                        <th><center>Produit</center></th>
                        <th><center>Nom du produit</center></th>
                        <th data-sortable="true" data-field="Temps de disponibilité maximal de location"><center>Temps de disponibilité maximal de location</center></th>
                        <th data-sortable="true" data-field="Quantité disponible"><center>Quantité disponible</center></th>
                        <th><center></center></th>
        			</tr> 
        		</thead>
                <tbody>
                    {% set i=1 %}
                	{%  for equipment in equipments %}
                		<tr>
                			<td>
                				<center><img src="{{ asset('uploads/images/featured/' ~ equipment.featuredImage) }}" alt="{{ equipment.slug }}" style="width:150px; height:150px" /></center>
            						
        						<center>
            						<div class="btn btn-secondary popup" onclick="myFunction({{ i }})">Détails
            							<span class="popuptext" id="myPopup{{ i }}"> {{ equipment.description | raw}}</span>
            						</div>
        						</center>
        						<script>
                            		function myFunction(i) {
                            			var array = ["myPopup",i.toString()];
                            		  	var popup = document.getElementById(array.join(""));
                            		  	closePopups(popup);
                            		  	popup.classList.toggle("show");
                            		}
                            		function closePopups($target) {
                            		    var popups = document.getElementsByClassName('popuptext');
                            		    for (i = 0; i < popups.length; i++) {
                            		      if (popups[i] != $target) {
                            		        popups[i].classList.remove('show');
                            		        }
                            		      else if(popups[i].getAttribute('id') == $target &&  popups[i].classList.toggle("show")== true){
                        		    	  	alert("targesgsrgted");
                        		    	  	popups[i].classList.remove('show');
                            		    	}
                            			}
                            		}                          		
                            	</script>
								{% set i = i+1 %}
                   			</td>
                			<td><center>{{ equipment.name }}</center></td>
                			{% if equipment.stock > 0 %}
                				<td><center>{{ equipment.durationBorrowMax }}</center></td>	
                				<td><center>{{ equipment.stock }}</center></td>	
                				<td><a type="button" href="{{ path('borrow', {'slug': equipment.slug }) }}" class="btn btn-success">Emprunter</a></td>
                            {% else %}
           						<td colspan="2"><center><img src="{{ asset('images/equipment/rupture-de-stock.png') }}" alt="rupture-de-stock" style="width:80%; height:auto" /></center></td>	
           						<td><a type="button" href="{{ path('borrow', {'slug': equipment.slug }) }}" class="btn btn-danger">Indisponible</a></td>
                            {% endif %}            
                  		</tr>
                  	{% endfor %}
            	</tbody>
        	</table>
        </div>
	</div>
    
    {# Popup HTML cachée
    
	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Confirmation de suppression</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
            
                <div class="modal-body">
                    <p>Vous allez supprimer cette ligne, cette procédure est irréversible.</p>
                    <p>Êtes-vous sûr de vouloir la supprimer ?</p>
                    <p class="debug-url"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-danger"><a>Supprimer</a></button>
                </div>
            </div>
        </div>
	</div>	
    #}
     
{% endblock %}