{% block encoding %}<meta charset="UTF-8">{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Bourdelle</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
    </button>
    
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		    <li class="nav-item">
				<a class="nav-link {% if current_menu is defined and current_menu == 'active_home' %}active{%  endif %}" href="{{ path('home') }}">Accueil</a>
			</li>
			
			<li class="nav-item">
				<a class="nav-link {% if current_menu is defined and current_menu == 'active_equipment' %}active{%  endif %}" href="{{ path('equipment') }}">Emprunter nos équipements</a>
			</li>
			{% if app.user %}
    			<li class="nav-item">
    				<a class="nav-link {% if current_menu is defined and current_menu == 'active_borrow' %}active{%  endif %}" href="{{ path('borrow') }}">Mes emprunts</a>
    			</li>
    		{% endif %}
			
			<li class="nav-item">
				<a class="nav-link {% if current_menu is defined and current_menu == 'active_place' %}active{%  endif %}" href="{{ path('place') }}">Lieu</a>
			</li>
			
			<li class="nav-item">
            	<a class="nav-link {% if current_menu is defined and current_menu == 'active_contact' %}active{%  endif %}" href="{{ path('contact') }}">Contact</a>
        	</li>
		</ul>
		
		<ul class="navbar-nav ml-auto">
			{% if not app.user %} 	
				<li class="nav-item">
					<a class="nav-link {% if current_menu is defined and current_menu == 'active_registration' %}active{%  endif %}" href="{{ path('registration') }}">Inscription</a>
				</li> 
				
            	<li class="nav-item">
               		<a class="nav-link {% if current_menu is defined and current_menu == 'active_login' %}active{% endif %}" href="{{ path('login') }}">Connexion</a>
                </li>
                
            {% else %} 
            	 {% if is_granted('ROLE_ADMIN') %}
    				<li class="nav-item">
    					<a class="nav-link" href="/admin">Administration</a>
    				</li>
                {% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('logout') }}">Déconnexion</a>
 				</li>
            {% endif %}
		</ul>
	</div>
</nav>