{% extends 'base.html.twig' %}
{% block encoding %}<meta charset="UTF-8">{% endblock %}
{% block title %}Mes Emprunts - {% endblock %}
{% block body %}

	<div class="container">
    	<h1>Mes Emprunts</h1>
      	<br>
    </div>
    
	<table id="borrows" class="table" data-toggle="table" data-search="true" data-pagination="true">
        <thead>
			<tr>
                <th><center>ID utilisateur</center></th>
                <th><center>ID équipments</center></th>
                <th><center>Début emprunt</center></th>
                <th><center>Fin emprunt</center></th>
                <th data-sortable="true" data-field="Quantité"><center>Quantité</center></th>
			</tr>
		</thead>
        <tbody>
        	{%  for borrow in borrows %}
        		<tr>
        			<td><center>{{ borrow.user }}</center></td>
        			<td><center>{{ borrow.equipment }}</center></td>
        			<td><center>{{ borrow.borrowStart | date("m/d/Y") }}</center></td>	
        			<td><center>{{ borrow.borrowEnd | date("m/d/Y") }}</center></td>	
        			<td><center>{{ borrow.quantity }}</center></td>	
          		</tr>
          	{% endfor %}
          	
    	</tbody>
	</table>

{% endblock %}