{% extends 'base.html.twig' %}
{% block encoding %}<meta charset="UTF-8">{% endblock %}
{% block title %}Emprunter - {% endblock %}
{% block body %}
	<h2><center>Emprunter nos équipments !</center></h2>
	<br>
	<br>		
	
	<div class="container">
		<div class="row justify-content-around"> 
			<div class="col-4" border-width:2px>
    			<h1><small><center>{{ equipment.name }}</center></small></h1>
    			{% if equipment.featuredImage is not null  %}
        			<center><img src="{{ asset('uploads/images/featured/' ~ equipment.featuredImage) }}" alt="{{ equipment.slug }}" style="width:100%; height:auto" /></center>
        		{% endif %}	
            	<br>       		
        	</div>	
        	<div class="col-md-1">  	
        	</div>
   			<div class="col-6">	
				<p {{ equipment.description | raw('css') }}</p>
				
      		</div>	
      		{% if form is not null %}	
          		{{ form_start(form) }}
          		
                {{ form_row(form.linker) }}
                {{ form_row(form.quantity) }}
            
                <button type="submit" class="btn btn-success">EMPRUNTER</button>
            
                {{ form_end(form) }}
                
            {% else %}
            	<div class="alert alert-danger" role="alert">
            		<h3><center>Plus de stocks !</center></h3>
            	</div>
            {% endif %}
      	</div>	
    </div>
    
    <script>

    $("#change").click(function(){
        
        $.ajax({

        	url: '/send_data',
        	datatype: 'html',
        	data: { {{ equipment.durationborrowmax }} : {{equipment.stock}} * {{ equipment.durationborrowmax }}}

        });
       
    });
        
    
    </script>
    
    
    
{% endblock %}