{% extends 'base.html.twig' %}
{% block encoding %}<meta charset="UTF-8">{% endblock %}
{% block title %}Mes Emprunts - {% endblock %}
{% block body %}

	<div class="container">
    	<h1>Mes Emprunts</h1>
      	<br>
    </div>
        {% if borrow.user.id is defined and app.user.id == borrow.user.id %}
			<table id="borrows" class="table" data-toggle="table" data-search="true" data-pagination="true">
    			<thead>
        			<tr>
                        <th><center>Equipement</center></th>
                        <th><center>Début emprunt</center></th>
                        <th><center>Fin emprunt</center></th>
                        <th data-sortable="true" data-field="Quantité"><center>Quantité</center></th>
                        <th data-sortable="true" data-field="Remaining Time"><center>Temps restant</center></th>
        			</tr>
        		</thead>
       			<tbody>
       				{% for borrow in borrows %}
                		{% if app.user == borrow.user %}
                    		{% set difference = date(borrow.borrowEnd).diff(date(now)) %}
                                    
                            {% if borrow.borrowEnd | date() > borrow.borrowStart | date() %}
                                {% set relative =  1%}
                            {% else %}
                                {% set relative =  -1%}
                            {% endif %}   
                                                         
                            {% set diff = difference.days %}
                            {% set diff = diff*relative %}
                            
							{% if diff>0 %}
                				<tr>
                			{% elseif diff==0 %}
                				<tr class="alert alert-warning" role="warning">
                			{% else %}
                				<tr class="alert alert-danger" role="alert">
                			{% endif %}
                                <td><center>{{ borrow.equipment }}</center></td>
                                <td><center>{{ borrow.borrowStart | date("d/m/Y  H:00") }}</center></td>	
                                <td><center>{{ borrow.borrowEnd | date("d/m/Y  H:00") }}</center></td>	
                                <td><center>{{ borrow.quantity }}</center></td>   
                                
                                <td><center>{{ diff }} jour(s)</center></td>                   
                    		</tr>
                    		
                    		
                    		
                    		
                    			
                        {% endif %}
                    {% endfor %}
            	</tbody>
       		</table> 
		{% else %}
    		<h2>Vous n'avez pas encore effectué d'emprunt sur notre site !</h2>  
    		   
    	{% endif %}
 
{% endblock %}